h2{
    font-size: 2.8vh;
}

p{
    font-size: 1.6vh;
}

/* ------------------ navbar ---------------------*/

.navbar{
    background-color: rgb(51, 58, 64);
    position: absolute;
    height: 110px;
    width: 100%;
    z-index: 20;
}

.navabar-container{
    position: absolute;
    right: 110px;
    justify-content: flex-end !important;
}

.navbar-brand{
    position: absolute;
    left: 270px;
}

.nav-link-i{
    color: rgb(154, 155, 159);
    font-size: 2.37vh;
    margin: 0 4px;
}

.nav-link:focus{
    color: white;
}

.nav-link-color2{
    color: white;
    font-size: 3vh;
}

.nav-img{
    width: 144px;
    position: absolute;
    left: 130px;
}

.green{
    color: rgb(42, 163, 67);
}


/* ------------------ container-prin -------------------*/

.container-prin{
    display: flex;
    background: black;
    width: 100%;
    height: 855px;
}

.fondo-img{
    opacity: 0.6;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 -83px;
}

.container-prin p{
    color: rgb(253, 253, 253);
    position: absolute;
    text-align: right;
    font-size: 1.4em;
    top: 431px;
    right: 157px;
}

.container-prin h2{
    position: absolute;
    color: white;
    font-size: 2.9em;
    top: 364px;
    right: 157px;
}

.btn-primary{
    position: absolute;
    bottom: 285px;
    right: 158px;
    font-size: 23px;
    padding: 10px 17px;
    background-color: rgb(39, 168, 68);
    border: none;
}

.btn-outline-light{
    position: absolute;
    bottom: 285px;
    right: 373px;
    font-size: 23px;
    padding: 10px 18px;
} 

/* --------------------- cards ---------------------------*/

.cards{
    width: 100%;
}

/* .card-phrases{

} */

.card-phrases u{
    border-bottom: 1px dashed #999;
    text-decoration: none; 
}

.card-phrases p{
    text-align: center;
    margin: 0;
}

.conviertete{
    padding: 32px 0 0 0;
}

.oradores{
    font-size: 4vh;
}

.charla-ignite{
    font-size: 1.96vh;
    text-decoration: none;
    padding: 0 0 9px 0;
}

.container-cards{
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 410px;
    margin: 0 18px;
}

.card-img-top{
    width: 100%;
    margin: 0 0 14px 0;
}

.card-tickets{
    display: flex;
}

.card-tickets h4{
    margin: 0 10px 5px 0;
}

.ticket{
    font-size: 1.2vh;
    padding: 4px;
    border-radius: 12%;
}

.yellow{
    background-color: rgb(255, 196, 0);
}

.blue{
    background-color: rgb(0, 207, 207);
    color: white;
}

.smoke{
    background-color: rgb(102, 102, 102);
    color: white;
}

.red{
    background-color: rgb(253, 66, 75);
    color: white;
}

.container-article{
    display: flex;
}

.honolulu{
    margin: 0 1px 0 0;
    width: 49.2%;
}

.container-article1{
    width: 50.8%;
    max-height: 600px;
    background-color: rgb(53, 58, 64);
}

.container-article h3{
    color: rgb(252, 255, 254);
    font-size: 3.45vh;
    margin: 20px;
}

.container-article p{
    color: rgb(252, 255, 254);
    font-size: 1.607vh;
    letter-spacing: 0.07vh;
    margin: 20px;
}

.btn1{
    position: static;
    border-radius: 6%;
    padding: 5px 10px;
    margin: 0 20px;
    font-size: 1.7vh;
}

/* --------------------- Conviertete en orador ---------------------*/

.conv-orador{
    width: 48.7%;
    margin: auto;
}

.mb-3{
    display: flex;
    justify-content: space-between;
}

.mb-3 input{
    width: 48%;
}

.form-textarea{
    padding: 10px 20px;
    font-size: 2.45vh;
}

.rec{
    color: rgb(114, 126, 135);
}

.btn-success-o{
    background: rgb(150, 201, 62);
    border: none;
    width: 100%;
    height: 54px;
    font-size: 2.45vh;
    margin-bottom: 20px;
}

/* ---------------------- footer ------------------- */

footer{
    width: 100%;
    height: 117px;
    background: linear-gradient(90deg, rgba(28,54,67,1) 0%, rgba(29,82,113,1) 100%);
}

.footer{
    background: linear-gradient(90deg, rgba(28,54,67,1) 0%, rgba(29,82,113,1) 100%);
}

.navbar-collapse{
    width: 100%;
    justify-content: center;
}

.nav-item-f{
    width: 135px;
    text-align: center;
    font-size: 2vh;
    margin: 0 31px;
}

.nav-link-f{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.nav-link-f:hover{
    color: rgb(255, 94, 0);
}

